.auth__block{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.auth__button{
	display: block;
	margin: 0 auto;
	padding: 0 40px;
}

.auth__lost{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #555;
	color: #555;
	margin-left: 30px;
	margin-bottom: 10px;
}