.whille__search-bar{
	text-align: left;
}

div.whillelist__select .trigger{
	width: 180px !important;
}

.g-button.blue.whillelis{
	min-width: 126px;
	margin: 0;
	margin-right: 5px;
}

.fa-times{
	cursor: pointer;
}