//mappy-bp - Настройка media queries проэкта
$breakpoints: ( 
  'xs': 510px, 
  'sm': 780px, 
  'md': 992px, 
  'lg': 1200px,
  'wlg': 1680px,
  'max': 1920px
);

$container-xs: 1170px;
$container-sm: 1170px;
$container-md: 1170px;
$container-lg: 1170px;
$container-wlg: 1170px;
$container-max: 1170px;

//Susy - Настройка Grid сетки проэкта
$susy: (
  columns: 12,
  gutters: (0),
  container: auto,
  global-box-sizing: border-box
);


$MIN-WIDTH: 320px;

$BASE__FONT: 'MinionPro-Regular', arial, verdana;
$BASE__FONT--SEMIBOLD: 'MinionPro-Semibold', arial, verdana;

$BASE__COLOR: #000;

$red: #ec5144;
$grey: #5a5a5a;