@font-face {
	font-family: Segoe;
	src: url(../fonts/Segoe/SegoeUI.woff), url(../fonts/Segoe/SegoeUI.woff2);
}
@font-face {
	font-family: Segoe-light;
	src: url(../fonts/Segoe/SegoeUI-Light.woff), url(../fonts/Segoe/SegoeUI-Light.woff2);
}
@font-face {
	font-family: Segoe-semi-bold;
	src: url(../fonts/Segoe/SegoeUI-SemiBold.woff), url(../fonts/Segoe/SegoeUI-SemiBold.woff2);
}
@font-face {
	font-family: Segoe-bold;
	src: url(../fonts/Segoe/SegoeUI-Bold.woff), url(../fonts/Segoe/SegoeUI-Bold.woff2);
}


@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.woff), url(../fonts/Roboto-Regular.woff2);
}