.rules__title{
	text-transform: uppercase;
	color: $red;
	display: block;
	margin: 20px 0;
	font-size: 20px;
	font-family: $BASE__FONT--SEMIBOLD;
}

.rules__paragraf{
	margin-left: 15px;
	line-height: 26px;
}