@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.woff'), url('../fonts/Roboto-Regular.woff2');
}

@font-face {
	font-family: MinionPro-Regular;
	src: url('../fonts/MinionPro-Regular.woff'), url('../fonts/MinionPro-Regular.woff2');
}

@font-face {
	font-family: MinionPro-Semibold;
	src: url('../fonts/MinionPro-Semibold.woff'), url('../fonts/MinionPro-Semibold.woff2');
}
